body {
    background-color: #ffffff;
    color: #2b2b2b;
  }
  

.container {
    background-color: #ffffff;
  }

  .left-side {
    background-color: #ffffff;
    border-right: 1px solid #e4e4e4;

  }

  .right-side {
    background-color: #ffffff;
  }

  .logo {
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 76%, #ffffff00 100%);
  }

  .side-title {
    color: #333333;
  }

  .side-menu a {
    color: #858585;
  }

  .side-menu a:hover {
    color: rgb(41, 41, 41);
  }

  .follow-me {
    color: #9c9cab;
    border-top: 1px solid #e4e4e4;
  }
  .developer {
    color: #333333;
    background-color: #F5F5F5;
  }

  .search-bar {
    background-color: #ffffff;
  }

  .search-bar input {
    color: #333333;
  }

  .search-bar input::placeholder {
    color: #b6b6b6;
  }

  .main-container {
    background-color: #f1f1f1;
  }

  .profile-menu {
    background: #ffffff;
  }

  .profile-menu-link {
    padding: 20px 16px;
    color: #5c5e6e;
    transition: 0.3s;
    cursor: pointer;
  }

  .profile-menu-link.active, .profile-menu-link:hover {
    color: #3f3f3f;
    background-color: #eeeeee;
  }

  .box {
    background-color: #ffffff;
    border-radius: 4px;
  }

  .intro-title {
    color: #333333;
  }

  .intro-menu {
    background-color: #858585;
    box-shadow: -8px 0 0 0 #858585, 8px 0 0 0 #858585
  }

  .info-item {
    color: #858585;
  }

  .event-title {
    color: #333333;
  }
  
  .event-subtitle {
    color: #5c5e6e;
  }

  .status-menu-item {
    color: #858585;
  }
  .status-menu-item.active, .status-menu-item:hover {
    background-color: #f57b51;
    color: #fff;
  }

  .status-main {
    border-bottom: 1px solid #e4e4e4;
  }

  .status-textarea {
    color: #5c5e6e;
  }

  .status-textarea::placeholder {
    color: #b6b6b6;
  }

  .status-action {
    color: #333333;
  }

  .account-button:not(.right-side-button) + .account-button:before {
    background-color: #f57b51;
    border: 1px solid #a5a5a5;
  }
  
  .account-user {
    color: #333333;
  }

  .account {
    background-color: #ffffff;
  }

  .right-search {
    border-top: 1px solid #e4e4e4;
  }

  @media screen and (max-width: 930px) {
    .left-side-button {
      background-color: #f8f8f880;
      color: rgb(146, 146, 146);
      border-bottom: 1px solid #e4e4e4;
    }
  }

.right-side-button {
  background-color: #ffffff;
  border-left: 1px solid #e4e4e4;
  color: #858585;
}
.right-side-button:before {
  background-color: #f57b51;
  border: 1px solid #b3b3b3;
}
.right-side-button svg {
  width: 22px;
}
@media screen and (max-width: 1210px) {
  .right-side-button {
    display: block;
  }
}

.options {
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
  color: #7f7f7f;
}

.options .reactions {
  background: #f1f1f1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);

}

.hs__arrows .arrow:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  -webkit-filter: brightness(2);
          filter: brightness(2);
  width: 18px;
  height: 12px;
  cursor: pointer;
}
.hs__arrows .arrow.disabled:before {
  -webkit-filter: brightness(4);
          filter: brightness(4);
}

.switcher {
  background-color: #fff;
  color: inherit;
}

.chosen {
  background-color: #f57b51;
  color: #fff;
}

#filters {
  background-color: #fff;
}

.interests-filters {
  background-color: #F1F1F1;
}

.interests-filters-active {
  background-color: #f57b51;
  color: #fff;
}

.interests-filters-enter input {
  background-color: #F1F1F1;
  border: solid 1px #dbdbdb;
  color: inherit;
}

#settings-explore{
  color: inherit;
  background-color: #fff;
}